<% provide :title, 'フィード' %>

<div class="container pt-4">
  <div class="row">
    <aside class="col-sm-4">
      <%= render 'index_user_posts' %>
    </aside>
    <div class="col-sm-8">
      <% if user_signed_in? %>
        <% if @feed_posts.any? %>
          <%= render 'index_feed', posts: @feed_posts %>
        <% else %>
          <div class="no-contents d-flex flex-column align-items-center justify-content-center mx-auto">
            <div class="no-contents-title font-weight-bold">投稿がありません</div>
            <div class="no-contents-explanation text-center">あなた自身の投稿や、あなたがフォローしたユーザーの投稿がここに表示されます。</div>
          </div>
        <% end %>
      <% else %>
        <div class="no-contents d-flex flex-column align-items-center justify-content-center mx-auto">
          <div class="no-contents-title font-weight-bold">ログインしてください</div>
          <div class="no-contents-explanation text-center">あなた自身の投稿や、あなたがフォローしたユーザーの投稿がここに表示されます。</div>
        </div>
      <% end %>
    </div>
  </div>
</div>