<% provide :title, 'フィード' %>

<div class="container pt-4">
  <div class="row">
    <aside class="col-sm-4">
      <%= render 'index_user_posts' %>
    </aside>
    <div class="col-sm-8">
      <%= render 'index_feed', posts: @feed_posts %>
    </div>
  </div>
  
</div>