<% provide :title, '新着投稿' %>

<div class="container pt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render 'index_nav' %>
    </div>
  </div>
  <% if @posts.any? %>
    <div class="row">
      <div class="post-cards d-flex flex-column col-md-8 mx-auto">
        <%= render partial: 'index_feed', locals: { posts: @posts, comment: @comment} %>
      </div>
    </div>
  <% else %>
    <div class="no-contents d-flex flex-column align-items-center justify-content-center mx-auto">
      <div class="no-contents-title font-weight-bold">投稿がありません</div>
      <div class="no-contents-explanation text-center">新しい投稿がここに表示されます。</div>
    </div>
  <% end %>
</div>