<% provide :title, '投稿検索' %>

  <div class="container pt-4">  
    <div class="row mx-auto">
      <div class="offset-sm-2 col-sm-8">
          <%= search_form_for @q, url: search_posts_path, method: :get, local: true do |f| %>  
            <div class="form-group d-flex flex-row">
                <div class="col-sm-6">
                  <%= f.search_field :content_cont, class: 'form-control', placeholder: '検索キーワードを入力してください' %>
                </div>
                <div class="col-sm-2">
                  <%= f.submit '検索する', class: 'btn btn-primary form-control'%>
                </div>
            </div>
          <% end %>
          <% if @posts.any? %>
            <%= render 'index_feed', posts: @posts %>
          <% else %>
            <div class="no-contents d-flex flex-column align-items-center justify-content-center mx-auto">
              <div class="no-contents-title font-weight-bold">投稿がありません</div>
              <div class="no-contents-explanation text-center">新しい投稿がここに表示されます。</div>
            </div>
          <% end %>
      </div>
    </div>
  </div>