.post-cards {
  padding: 0 20px;
  // margin-bottom: 5px;
}
.card-index {
  margin: 0px 0;
}

.img_preview {
  vertical-align: top;
  image-orientation: from-image;
  position: relative;
  max-width: 50%;
}

.card-header {
  padding: 5px;
  a {
    text-decoration: none;
    color: #666;
  }
}
.post-user {
  float: left;
  line-height: 48px;
}
.post-info {
  text-align: right;
}

.user_avator {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav {
  list-style: none;
}

.nav-link.active {
  border-bottom: 3px solid #ff6600;
}